#fastapi==0.110.0
#uvicorn==0.29.0
#requests==2.31.0
#pytest==8.2.0
#httpx==0.27.0
#python-json-logger==2.0.7
#prometheus-client==0.20.0

fastapi
uvicorn
requests
prometheus-client
pytest
httpx
python-json-logger